.bug-type{
    background-color:#2bdab1;
   
}
.dark-type{
    background-color:#000200;
}
.dragon-type{
    background-color:#4691a0;
}
.electric-type{
    background-color:#fafe72;
}
.fairy-type{
    background-color:#9d173e;
}
.fighting-type{
    background-color:#a5411f;
}
.fire-type{
    background-color:#ae2222;
}
.flying-type{
    background-color:#4a6d81;
}
.ghost-type{
    background-color:#33346d;
}
.grass-type{
    background-color:#12813d;
}
.ground-type{
    background-color:#b17329;
}
.ice-type{
    background-color:#88deff;
}
.normal-type{
    background-color:#7a555d;
}
.poison-type{
    background-color:#632c89;
}
.psychic-type{
    background-color:#aa2c6e;
}
.rock-type{
    background-color:#491a09;
}
.steel-type{
    background-color:#607a6f;
}
.water-type{
    background-color:#83a9fe;
}







